<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#2196f3">
        <title>Status - Craft Rom</title>
        <link rel="stylesheet" href="./static/css/app.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ "./images/favicons/apple-touch-icon.png" | relative_url }}">
		<link rel="icon" type="image/png" href="{{ "./images/favicons/favicon-32x32.png" | relative_url }}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{ "./images/favicons/favicon-16x16.png" | relative_url }}" sizes="16x16">
        <link rel="manifest" href="{{ "./images/favicons/manifest.json" | relative_url }}">
        <link rel="mask-icon" href="{{ "./images/favicons/safari-pinned-tab.svg" | relative_url }}" color="#2196f3">
        <link rel="shortcut icon" href="{{ "./images/favicons/favicon.ico" | relative_url }}">
        <meta name="msapplication-config" content="{{ "./images/favicons/browserconfig.xml" | relative_url }}">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <header class="sheader">
            <nav class="container snav">
                <div class="sbranding">
                    <h1>
                        <a href="/">
                            <img src="./static/images/CraftRomLogo.svg" alt="Craft Rom" />
                            <span>Status</span>
                        </a>
                    </h1>
                </div>
            </nav>
        </header>

        <main>
            {{ content }}
        </main>

        <footer>
            <div class="container">
                <h2>
                    <a href="https://www.craft-rom.pp.ua/">#CraftRom</a>
                </h2>
                <ul>
                    <li><a href="https://www.craft-rom.pp.ua/donate/">Donate</a></li>
                    <li><a href="https://github.com/CraftRom">GitHub</a></li>
                    <li><a href="https://www.craft-rom.pp.ua/devices/">Device</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
